__pycache__/
images/latest_screenshot.png
Melon DS/bios7.bin
Melon DS/bios9.bin
Melon DS/firmware.bin
Melon DS/firmware.bin.bak
Melon DS/melonDS.exe
Melon DS/melonDS.ini
AWDR Rom/Advance Wars Days of Ruin.nds